body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100%;
  display: block;
}

body .all header {
  width: 100%;
  height: 48px;
  position: relative;
  background-color: transparent;
}

body .all header .header_logo {
  width: 190px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  body .all header .header_logo {
    width: 60px;
  }
}

@media (max-width: 670px) {
  body .all header .header_logo {
    width: 30px;
  }
}

body .all header .header_logo a {
  background-image: url("/img/logo.png");
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
}

body .all header .header_logo a:hover {
  background-image: url("/img/logo2.png");
}

body .all header .header_title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 49px;
}

body .all header .header_title a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

body .all header .header_title a:hover {
  color: #0078d4;
}

body .all header .header_navigation {
  height: 48px;
  padding: 0px 120px 0px 420px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1460px) {
  body .all header .header_navigation {
    padding: 0px 60px 0px 120px;
  }
}

body .all header .header_navigation .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body .all header .header_navigation .links li {
  width: auto;
  color: white;
  font-size: 16px;
  line-height: 49px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

body .all header .header_navigation .links li a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

body .all header .header_navigation .links li .link1:hover {
  color: #258ede;
}

body .all header .header_navigation .links li .link2:hover {
  color: #4fe5ff;
}

body .all header .header_navigation .links li .link3:hover {
  color: #cf8fff;
}

body .all header .header_navigation .links li .link4:hover {
  color: #69e56e;
}

@media (max-width: 767px) {
  body .all header .header_navigation {
    display: none;
  }
}

body .all .mobile_button {
  width: 48px;
  height: 48px;
  background-image: url("/img/menu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  body .all .mobile_button {
    display: block;
  }
}

body .all .mobile_menu {
  position: fixed;
  top: 48px;
  left: 0px;
  height: calc(100vh - 48px);
  width: 100%;
  background-color: black;
  z-index: 10;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 300ms ease 300ms;
  transition: all 300ms ease 300ms;
  opacity: 0;
  pointer-events: none;
}

body .all .active {
  opacity: 1;
  pointer-events: all;
}

body .all .menu_links {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .all .menu_links li {
  width: 100%;
  font-size: 20px;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
}

body .all .menu_links li a {
  color: white;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 25px 30px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body .all .menu_links .menu_link1:hover {
  color: black;
  background-color: #258ede;
}

body .all .menu_links .menu_link2:hover {
  color: black;
  background-color: #4fe5ff;
}

body .all .menu_links .menu_link3:hover {
  color: black;
  background-color: #cf8fff;
}

body .all .menu_links .menu_link4:hover {
  color: black;
  background-color: #69e56e;
}

body .style_main {
  width: 100%;
  position: relative;
}

body .style_main .style_introduction {
  width: 100%;
  margin: 145px 0px 60px;
}

body .style_main .style_introduction .style_inner .content_sc {
  width: 410px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 50%;
  }
}

@media (max-width: 960px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 60%;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 100%;
  }
}

body .style_main .style_introduction .style_inner .content_sc .title_sc {
  width: 100%;
}

body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
  font-size: 64px;
  line-height: 80px;
  color: #4fe5ff;
  font-weight: 600;
  margin: 0px 0px 0px -6px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 767px) {
  body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

body .style_main .style_introduction .style_inner .content_sc .description_sc {
  width: 100%;
  margin: 100px 0px 30px;
}

body .style_main .style_introduction .style_inner .content_sc .description_sc p {
  width: 352px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px 0px 24px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body .style_main .style_introduction .style_inner .media_sc {
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc {
    width: 50%;
    padding: 0px 40px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_introduction .style_inner .media_sc {
    width: 40%;
    padding: 0px 0px 0px 30px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .media_sc {
    display: none;
  }
}

body .style_main .style_introduction .style_inner .media_sc .left-line {
  position: absolute;
  bottom: 155px;
  left: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    bottom: 160px;
    left: 30px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    bottom: 120px;
    left: 30px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    display: none;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .mid-line {
    max-width: 100%;
  }
}

body .style_main .style_introduction .style_inner .media_sc .right-line {
  position: absolute;
  top: -15px;
  right: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    top: -40px;
    right: 36px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    top: 15px;
    right: 36px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    display: none;
  }
}

body .style_main .style_platforms {
  width: 100%;
  position: relative;
}

body .style_main .style_platforms .container_sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_platforms .container_sc {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_platforms .container_sc {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_sc {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_sc {
    width: 100%;
    padding: 0px;
  }
}

body .style_main .style_platforms .container_sc .grid_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_sc .grid_sc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc {
    width: 50%;
    height: 320px;
  }
}

@media (max-width: 767px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc {
    height: auto;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .icon_sc {
  min-height: 96px;
  width: 100%;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 26px;
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .icon_sc {
    padding: 30px 30px 16px;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .icon_sc img {
  max-width: 100%;
  max-height: 100%;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .content-sc {
  height: 100px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px;
}

@media (max-width: 1460px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .content-sc {
    height: 180px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .content-sc {
    height: auto;
    padding: 0px 30px;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .content-sc h2 {
  color: black;
  font-size: 32px;
  letter-spacing: -0.03rem;
  line-height: 40px;
  font-weight: 600;
  margin: 0px 0px 26px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .content-sc p {
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .action_sc {
  height: 48px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px 10px 0;
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .action_sc {
    padding: 0px 30px;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .action_sc img {
  margin: 0px 16px 0px 0px;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .action_sc span {
  font-size: 16px;
  font-family: "Segoe UI Mono", mono;
  letter-spacing: 0.01rem;
  color: black;
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_sc .grid_sc .platforms_sc a .action_sc span {
    font-size: 14px;
  }
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc .platform_Web {
  background-color: #258ede;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc .platform_Windows {
  background-color: #4fe5ff;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc .platform_iOS {
  background-color: #cf8fff;
}

body .style_main .style_platforms .container_sc .grid_sc .platforms_sc .platform_Android {
  background-color: #69e56e;
}

.container {
  width: 1536px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1680px) {
  .container {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0px 30px;
  }
}
/*# sourceMappingURL=style.css.map */