* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100%;
  display: block;
  overflow-x: hidden;
}

body .all header {
  width: 100%;
  height: 48px;
  position: relative;
  background-color: transparent;
}

body .all header .header_logo {
  width: 190px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  body .all header .header_logo {
    width: 60px;
  }
}

@media (max-width: 670px) {
  body .all header .header_logo {
    width: 30px;
  }
}

body .all header .header_logo a {
  background-image: url("img/logo.png");
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
}

body .all header .header_logo a:hover {
  background-image: url("img/logo2.png");
}

body .all header .header_title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 49px;
}

body .all header .header_title a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

body .all header .header_title a:hover {
  color: #0078d4;
}

body .all header .header_navigation {
  height: 48px;
  padding: 0px 120px 0px 420px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1460px) {
  body .all header .header_navigation {
    padding: 0px 60px 0px 120px;
  }
}

body .all header .header_navigation .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body .all header .header_navigation .links li {
  width: auto;
  color: white;
  font-size: 16px;
  line-height: 49px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

body .all header .header_navigation .links li a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}

body .all header .header_navigation .links li .link1:hover {
  color: #258ede;
}

body .all header .header_navigation .links li .link2:hover {
  color: #4fe5ff;
}

body .all header .header_navigation .links li .link3:hover {
  color: #cf8fff;
}

body .all header .header_navigation .links li .link4:hover {
  color: #69e56e;
}

@media (max-width: 767px) {
  body .all header .header_navigation {
    display: none;
  }
}

body .all .mobile_button {
  width: 48px;
  height: 48px;
  background-image: url("img/menu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  body .all .mobile_button {
    display: block;
  }
}

body .all .mobile_menu {
  position: fixed;
  top: 48px;
  left: 0px;
  height: calc(100vh - 48px);
  width: 100%;
  background-color: black;
  z-index: 10;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 300ms ease 300ms;
  transition: all 300ms ease 300ms;
  opacity: 0;
  pointer-events: none;
}

body .all .active {
  opacity: 1;
  pointer-events: all;
}

body .all .menu_links {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .all .menu_links li {
  width: 100%;
  font-size: 20px;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
}

body .all .menu_links li a {
  color: white;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 25px 30px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .all .menu_links .menu_link1:hover {
  color: black;
  background-color: #258ede;
}

body .all .menu_links .menu_link2:hover {
  color: black;
  background-color: #4fe5ff;
}

body .all .menu_links .menu_link3:hover {
  color: black;
  background-color: #cf8fff;
}

body .all .menu_links .menu_link4:hover {
  color: black;
  background-color: #69e56e;
}

body .style_main {
  width: 100%;
  position: relative;
}

body .style_main .style_introduction {
  width: 100%;
  margin: 145px 0px 60px;
}

body .style_main .style_introduction .style_inner .content_sc {
  width: 410px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 50%;
  }
}

@media (max-width: 960px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 60%;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .content_sc {
    width: 100%;
  }
}

body .style_main .style_introduction .style_inner .content_sc .title_sc {
  width: 100%;
}

body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
  font-size: 64px;
  line-height: 80px;
  color: #4fe5ff;
  font-weight: 600;
  margin: 0px 0px 0px -6px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 767px) {
  body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .content_sc .title_sc h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

body .style_main .style_introduction .style_inner .content_sc .description_sc {
  width: 100%;
  margin: 100px 0px 30px;
}

body .style_main .style_introduction .style_inner .content_sc .description_sc p {
  width: 352px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px 0px 24px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_introduction .style_inner .media_sc {
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc {
    width: 50%;
    padding: 0px 40px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_introduction .style_inner .media_sc {
    width: 40%;
    padding: 0px 0px 0px 30px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_introduction .style_inner .media_sc {
    display: none;
  }
}

body .style_main .style_introduction .style_inner .media_sc .left-line {
  position: absolute;
  bottom: 155px;
  left: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    bottom: 160px;
    left: 30px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    bottom: 120px;
    left: 30px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .left-line {
    display: none;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .mid-line {
    max-width: 100%;
  }
}

body .style_main .style_introduction .style_inner .media_sc .right-line {
  position: absolute;
  top: -15px;
  right: 180px;
  pointer-events: none;
}

@media (max-width: 1680px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    top: -40px;
    right: 36px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    top: 15px;
    right: 36px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_introduction .style_inner .media_sc .right-line {
    display: none;
  }
}

body .style_main .style_platforms {
  width: 100%;
  position: relative;
}

body .style_main .style_platforms::before {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #2280c8;
}

body .style_main .style_platforms::after {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  background-color: #5fcf63;
}

body .style_main .style_platforms .container_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_platforms .container_platform {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_platforms .container_platform {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_platform {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_platform {
    width: 100%;
    padding: 0px;
  }
}

body .style_main .style_platforms .container_platform .grid_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_platform .grid_sc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc {
    width: 50%;
    height: 320px;
  }
}

@media (max-width: 767px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc {
    height: auto;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .icon_sc {
  height: 236px;
  width: 100%;
  text-align: left;
  padding: 26px;
}

@media (max-width: 1460px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .icon_sc {
    height: 156px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .icon_sc {
    height: 186px;
    padding: 30px 30px 16px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .icon_sc {
    height: 116px;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .icon_sc img {
  max-width: 100%;
  max-height: 100%;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .content-sc {
  height: 100px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px;
}

@media (max-width: 1460px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .content-sc {
    height: 180px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .content-sc {
    height: auto;
    padding: 0px 30px;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .content-sc h2 {
  color: black;
  font-size: 32px;
  letter-spacing: -0.03rem;
  line-height: 40px;
  font-weight: 600;
  margin: 0px 0px 26px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .content-sc p {
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .action_sc {
  height: 48px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0px 26px 10px 0;
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .action_sc {
    padding: 0px 30px;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .action_sc img {
  margin: 0px 16px 0px 0px;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .action_sc span {
  font-size: 16px;
  font-family: "Segoe UI Mono", mono;
  letter-spacing: 0.01rem;
  color: black;
}

@media (max-width: 1280px) {
  body .style_main .style_platforms .container_platform .grid_sc .platforms_sc a .action_sc span {
    font-size: 14px;
  }
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Web {
  background-color: #258ede;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Web:hover {
  background-color: #0c75c5;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Windows {
  background-color: #4fe5ff;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Windows:hover {
  background-color: #36cce6;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_iOS {
  background-color: #cf8fff;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_iOS:hover {
  background-color: #b676e6;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Android {
  background-color: #69e56e;
}

body .style_main .style_platforms .container_platform .grid_sc .platforms_sc .platform_Android:hover {
  background-color: #50cc55;
}

body .style_main .style_natural {
  width: 100%;
  min-height: 768px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg) 50% center/cover no-repeat fixed #cccccc;
}

@media (max-width: 1280px) {
  body .style_main .style_natural {
    min-height: 668px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_natural {
    background-attachment: scroll;
  }
}

@media (max-width: 670px) {
  body .style_main .style_natural {
    min-height: 768px;
  }
}

body .style_main .style_natural .container_natural {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_natural .container_natural {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_natural .container_natural {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_natural .container_natural {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_natural .container_natural {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 400px) {
  body .style_main .style_natural .container_natural {
    padding: 0px 30px 60px;
  }
}

body .style_main .style_natural .container_natural .title_natural {
  width: 100%;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding: 10px 20px 0px;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

body .style_main .style_natural .container_natural .title_natural h2 {
  color: black;
  font-size: 128px;
  line-height: 150px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 1460px) {
  body .style_main .style_natural .container_natural .title_natural h2 {
    font-size: 96px;
    line-height: 120px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_natural .container_natural .title_natural h2 {
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_natural .container_natural .title_natural h2 {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_natural .container_natural .title_natural h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

body .style_main .style_natural .container_natural .content_natural {
  width: 100%;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  margin: 60px 0px 0px;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

body .style_main .style_natural .container_natural .content_natural .content_block {
  width: 100%;
  max-width: 384px;
  padding: 0px 16px 0px 24px;
}

@media (max-width: 1280px) {
  body .style_main .style_natural .container_natural .content_natural .content_block {
    margin: 0px;
    padding: 0px 5px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_natural .container_natural .content_natural .content_block {
    padding: 0px 0px 0px 4px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_natural .container_natural .content_natural .content_block {
    padding: 0px 0px 0px 4px;
  }
}

body .style_main .style_natural .container_natural .content_natural .content_block p {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_terraform_sphere {
  width: 100%;
  background-color: #191919;
}

body .style_main .style_terraform_sphere .container_terra {
  position: relative;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_terraform_sphere .container_terra {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_terraform_sphere .container_terra {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_terraform_sphere .container_terra {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_terraform_sphere .container_terra {
    width: 100%;
    padding: 0px 30px;
  }
}

body .style_main .style_terraform_sphere .container_terra .rect_sc {
  position: absolute;
  top: -200px;
  right: 130px;
  pointer-events: none;
  z-index: 4;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 1680px) {
  body .style_main .style_terraform_sphere .container_terra .rect_sc {
    right: 30px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_terraform_sphere .container_terra .rect_sc {
    top: -200px;
  }
}

@media (max-width: 767px) {
  body .style_main .style_terraform_sphere .container_terra .rect_sc {
    top: -300px;
    right: 100px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_terraform_sphere .container_terra .rect_sc {
    display: none;
  }
}

body .style_main .style_terraform_sphere .container_terra .line_sc {
  position: absolute;
  top: 570px;
  left: 190px;
  pointer-events: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 600ms linear 0ms;
  transition: -webkit-transform 600ms linear 0ms;
  transition: transform 600ms linear 0ms;
  transition: transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 670px) {
  body .style_main .style_terraform_sphere .container_terra .line_sc {
    left: 90vw;
  }
}

body .style_main .style_terraform_sphere .container_terra .sphere_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 100px 100px 50px;
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 6770px) {
  body .style_main .style_terraform_sphere .container_terra .sphere_sc {
    padding: 60px 30px;
  }
}

body .style_main .style_terraform_sphere .container_terra .sphere_sc img {
  max-width: 100%;
}

body .style_main .style_terra_description {
  width: 100%;
  background-color: #191919;
}

body .style_main .style_terra_description .container_description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_terra_description .container_description {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_terra_description .container_description {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_terra_description .container_description {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_terra_description .container_description {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_terra_description .container_description {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

body .style_main .style_terra_description .container_description .content_sc_description {
  width: 384px;
  margin: 0px 0px 50px;
  padding: 0px 16px;
}

@media (max-width: 960px) {
  body .style_main .style_terra_description .container_description .content_sc_description {
    padding: 0px;
  }
}

body .style_main .style_terra_description .container_description .content_sc_description P {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_intuitive {
  width: 100%;
  position: relative;
  background-color: #191919;
}

body .style_main .style_intuitive .title_intuitive {
  position: absolute;
  bottom: 80px;
  left: 0px;
  width: 100%;
  z-index: 4;
}

@media (max-width: 1024px) {
  body .style_main .style_intuitive .title_intuitive {
    bottom: 60px;
  }
}

body .style_main .style_intuitive .title_intuitive .container_intuitive {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive {
    width: 100%;
    padding: 30px;
  }
}

body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
  color: #191919;
  font-size: 128px;
  line-height: 144px;
  font-weight: 600;
  margin: 0px 0px 0px 26px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1680px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
    font-size: 96px;
    line-height: 128px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
    font-size: 96px;
    line-height: 104px;
    margin: 0px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
    font-size: 86px;
    line-height: 90px;
    margin: 0;
  }
}

@media (max-width: 670px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_intuitive .title_intuitive .container_intuitive h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

body .style_main .style_intuitive div .media_sc_intuitive {
  width: 100%;
  opacity: 0.987936;
  -webkit-transform: translate3d(0px, 1.20643px, 0px) scale(1.00241, 1.00241);
          transform: translate3d(0px, 1.20643px, 0px) scale(1.00241, 1.00241);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

body .style_main .style_cloud {
  position: relative;
  top: 0px;
  z-index: 2;
  width: 100%;
  min-height: 948px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/clouds.jpg) 50% center/cover no-repeat fixed black;
}

body .style_main .style_cloud .container_cloud {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_cloud .container_cloud {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_cloud .container_cloud {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_cloud .container_cloud {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_cloud .container_cloud {
    width: 100%;
    padding: 0px 30px;
  }
}

body .style_main .style_cloud .container_cloud .planes {
  position: absolute;
  top: -240px;
  right: -260px;
  width: 768px;
}

@media (max-width: 1460px) {
  body .style_main .style_cloud .container_cloud .planes {
    display: none;
  }
}

body .style_main .style_cloud .container_cloud .planes div .solid_plane {
  position: absolute;
  top: -120px;
  left: 2px;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translate3d(0px, -26.9379px, 0px);
          transform: translate3d(0px, -26.9379px, 0px);
}

body .style_main .style_cloud .container_cloud .planes .outline_plane {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

body .style_main .style_cloud .container_cloud div .De_header {
  position: absolute;
  top: -100px;
  left: 0px;
  font-size: 395px;
  line-height: 1;
  color: black;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1680px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    font-size: 295px;
    top: -40px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    top: -20px;
    left: 0px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    font-size: 228px;
    top: 40px;
    left: 14px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    font-size: 168px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    font-size: 128px;
  }
}

@media (max-width: 400px) {
  body .style_main .style_cloud .container_cloud div .De_header {
    font-size: 96px;
  }
}

body .style_main .style_cloud .container_cloud div .sign_header {
  position: absolute;
  top: 140px;
  right: -30px;
  font-size: 395px;
  line-height: 1;
  color: black;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1680px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    font-size: 295px;
    top: 120px;
    right: -30px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    top: 180px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    font-size: 228px;
    top: 220px;
    right: 10px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    font-size: 168px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    font-size: 128px;
  }
}

@media (max-width: 400px) {
  body .style_main .style_cloud .container_cloud div .sign_header {
    font-size: 96px;
    top: 160px;
  }
}

body .style_main .style_cloud .container_cloud .line_cloud {
  position: absolute;
  top: 550px;
  left: 370px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  body .style_main .style_cloud .container_cloud .line_cloud {
    top: 550px;
    left: 370px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_cloud .container_cloud .line_cloud {
    display: none;
  }
}

body .style_main .style_engaging {
  width: 100%;
  background-color: #cccccc;
  min-height: 820px;
  position: relative;
}

@media (max-width: 1280px) {
  body .style_main .style_engaging {
    min-height: 668px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_engaging {
    min-height: 468px;
  }
}

body .style_main .style_engaging .container_engaging {
  width: 1536px;
  position: relative;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_engaging .container_engaging {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_engaging .container_engaging {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_engaging .container_engaging {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_engaging .container_engaging {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_engaging .container_engaging {
    width: 100%;
    padding: 0px 30px 40px;
  }
}

body .style_main .style_engaging .container_engaging .title_engaging {
  width: 100%;
  padding: 140px 40px 0px 8px;
}

@media (max-width: 1460px) {
  body .style_main .style_engaging .container_engaging .title_engaging {
    padding: 60px 40px 0px 8px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_engaging .container_engaging .title_engaging {
    padding: 29px 0px 0px;
  }
}

body .style_main .style_engaging .container_engaging .title_engaging h2 {
  color: black;
  font-size: 128px;
  line-height: 150px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1280px) {
  body .style_main .style_engaging .container_engaging .title_engaging h2 {
    font-size: 96px;
    line-height: 104px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_engaging .container_engaging .title_engaging h2 {
    font-size: 86px;
    line-height: 90px;
    margin: 0px;
  }
}

@media (max-width: 670px) {
  body .style_main .style_engaging .container_engaging .title_engaging h2 {
    font-size: 64px;
    line-height: 70px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_engaging .container_engaging .title_engaging h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

body .style_main .style_engaging .container_engaging .content_engaging {
  width: 100%;
  margin: 60px 0px 0px;
}

@media (max-width: 670px) {
  body .style_main .style_engaging .container_engaging .content_engaging {
    margin: 40px 0px 0px;
  }
}

body .style_main .style_engaging .container_engaging .content_engaging .content_engaging_block {
  width: 100%;
  max-width: 384px;
  padding: 0px 16px;
}

@media (max-width: 1024px) {
  body .style_main .style_engaging .container_engaging .content_engaging .content_engaging_block {
    padding: 0px 0px 0px 4px;
  }
}

body .style_main .style_engaging .container_engaging .content_engaging .content_engaging_block P {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_engaging .media_sc_engaging {
  position: absolute;
  top: 200px;
  right: 0px;
}

@media (max-width: 1024px) {
  body .style_main .style_engaging .media_sc_engaging {
    right: -20vw;
  }
}

@media (max-width: 670px) {
  body .style_main .style_engaging .media_sc_engaging {
    display: none;
  }
}

body .style_main .style_engaging .media_sc_engaging img {
  max-width: 1000px;
}

@media (max-width: 1940px) {
  body .style_main .style_engaging .media_sc_engaging img {
    max-width: 900px;
  }
}

@media (max-width: 1680px) {
  body .style_main .style_engaging .media_sc_engaging img {
    max-width: 50vw;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_engaging .media_sc_engaging img {
    max-width: 70vw;
  }
}

@media (max-width: 767px) {
  body .style_main .style_engaging .media_sc_engaging img {
    max-width: 60vw;
  }
}

body .style_main .style_space {
  width: 100%;
  min-height: 768px;
  background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center/cover no-repeat fixed black;
}

@media (max-width: 1280px) {
  body .style_main .style_space {
    min-height: 668px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_space {
    background-attachment: scroll;
  }
}

@media (max-width: 500px) {
  body .style_main .style_space {
    min-height: 568px;
  }
}

body .style_main .style_space .container_space {
  position: relative;
  z-index: 2;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_space .container_space {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_space .container_space {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_space .container_space {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_space .container_space {
    width: 100%;
    padding: 0px 30px;
  }
}

body .style_main .style_space .container_space .fluent_sc {
  position: absolute;
  top: -95px;
  left: 340px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  body .style_main .style_space .container_space .fluent_sc {
    top: -75px;
    left: 50%;
    margin: 0px 0px 0px -215px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_space .container_space .fluent_sc {
    width: 100%;
    max-width: 50%;
    left: 30%;
    margin: 0px;
  }
}

body .style_main .style_space .container_space .line_sc {
  position: absolute;
  top: 185px;
  left: 165px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  body .style_main .style_space .container_space .line_sc {
    top: 40vh;
    left: 65px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_space .container_space .line_sc {
    display: none;
  }
}

body .style_main .style_space .container_space .white_rect_sc {
  position: absolute;
  top: -125px;
  left: 620px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  body .style_main .style_space .container_space .white_rect_sc {
    top: 80px;
    left: auto;
    right: 60px;
  }
}

@media (max-width: 500px) {
  body .style_main .style_space .container_space .white_rect_sc {
    display: none;
  }
}

body .style_main .style_space .container_space .white_plane_sc {
  position: absolute;
  top: 530px;
  right: 85px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 500px) {
  body .style_main .style_space .container_space .white_plane_sc {
    display: none;
  }
}

body .style_main .style_space .container_space .liala_rect_sc {
  position: absolute;
  top: 370px;
  right: 220px;
  pointer-events: none;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms, -webkit-transform 600ms linear 0ms;
}

@media (max-width: 1460px) {
  body .style_main .style_space .container_space .liala_rect_sc {
    top: 470px;
    right: 220px;
  }
}

@media (max-width: 767px) {
  body .style_main .style_space .container_space .liala_rect_sc {
    display: none;
  }
}

body .style_main .style_media_sc {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 0px 0px 160px;
}

body .style_main .style_media_sc .container_media {
  position: relative;
  z-index: 2;
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_media_sc .container_media {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_media_sc .container_media {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_media_sc .container_media {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_media_sc .container_media {
    width: 100%;
  }
}

body .style_main .style_media_sc .container_media .grid_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
  background-color: black;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a:hover {
  background-color: white;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .content_sc {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .content_sc p {
  color: white;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1280px) {
  body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .content_sc p {
    font-size: 28px;
  }
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .icon_title_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .icon_title_sc .icon_sc svg path {
  fill: white;
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .icon_title_sc .title_sc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a .icon_title_sc .title_sc label {
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a:hover p {
  color: black;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a:hover path {
  fill: black !important;
}

body .style_main .style_media_sc .container_media .grid_sc .sc1_how a:hover label {
  color: black !important;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
  background-color: #393939;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a:hover {
  background-color: white;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .content_sc {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .content_sc p {
  color: white;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1280px) {
  body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .content_sc p {
    font-size: 28px;
  }
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .icon_title_sc .icon_sc svg path {
  fill: white;
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .icon_title_sc .title_sc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a .icon_title_sc .title_sc label {
  color: white;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a:hover p {
  color: black;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a:hover path {
  fill: black !important;
}

body .style_main .style_media_sc .container_media .grid_sc .sc2_evolving a:hover label {
  color: black !important;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
  background-color: #767676;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a:hover {
  background-color: white;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .content_sc {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .content_sc p {
  color: black;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1280px) {
  body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .content_sc p {
    font-size: 28px;
  }
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .icon_title_sc .icon_sc svg path {
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .icon_title_sc .title_sc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .style_main .style_media_sc .container_media .grid_sc .sc3_designing a .icon_title_sc .title_sc label {
  color: black;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing {
  width: 25%;
  height: 384px;
  position: relative;
  z-index: 2;
  background-color: #cccccc;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  text-decoration: none;
  -webkit-transition: background-color 200ms linear 0ms;
  transition: background-color 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a:hover {
  background-color: white;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .content_sc {
  width: 100%;
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 2px 0px 0px;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .content_sc p {
  color: black;
  -webkit-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1280px) {
  body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .content_sc p {
    font-size: 28px;
  }
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .icon_title_sc .icon_sc svg path {
  -webkit-transition: fill 200ms linear 0ms;
  transition: fill 200ms linear 0ms;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .icon_title_sc .title_sc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .style_main .style_media_sc .container_media .grid_sc .sc4_designing a .icon_title_sc .title_sc label {
  color: black;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_media_sc .container_media .grid_sc div a .icon_title_sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  padding: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

body .style_main .style_media_sc .container_media .grid_sc div a .icon_title_sc .icon_sc {
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 16px 0px 0px;
}

body .style_main .style_media_sc .container_media .grid_sc div a .icon_title_sc .icon_sc svg {
  max-width: 20px;
  height: auto;
  overflow: hidden;
}

body .style_main .style_news {
  width: 100%;
}

body .style_main .style_news .container_news {
  width: 1536px;
  margin: 0px auto;
}

@media (max-width: 1680px) {
  body .style_main .style_news .container_news {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  body .style_main .style_news .container_news {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  body .style_main .style_news .container_news {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_news .container_news {
    width: 100%;
  }
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news {
    width: 100%;
    padding: 0px 30px;
  }
}

body .style_main .style_news .container_news .newslist_sc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 200px;
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news .newslist_sc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
  }
}

body .style_main .style_news .container_news .newslist_sc .title_sc {
  width: 575px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 1680px) {
  body .style_main .style_news .container_news .newslist_sc .title_sc {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_news .container_news .newslist_sc .title_sc {
    margin: 0px 30px 30px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news .newslist_sc .title_sc {
    width: 100%;
    margin: 30px 0px;
  }
}

body .style_main .style_news .container_news .newslist_sc .title_sc h2 {
  font-size: 32px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  padding: 0px 0px 0px 16px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1024px) {
  body .style_main .style_news .container_news .newslist_sc .title_sc h2 {
    padding: 0px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news .newslist_sc .title_sc h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

body .style_main .style_news .container_news .newslist_sc .content_sc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 330px 35px 208px;
}

@media (max-width: 1680px) {
  body .style_main .style_news .container_news .newslist_sc .content_sc {
    width: 50%;
    padding: 0px 16px 35px;
  }
}

@media (max-width: 1024px) {
  body .style_main .style_news .container_news .newslist_sc .content_sc {
    padding: 0px 30px 35px;
  }
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news .newslist_sc .content_sc {
    width: 100%;
    padding: 0px 0px 35px;
  }
}

body .style_main .style_news .container_news .newslist_sc .content_sc .text_sc {
  width: 100%;
}

body .style_main .style_news .container_news .newslist_sc .content_sc .text_sc p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body .style_main .style_news .container_news .newslist_sc .content_sc .action_sc {
  width: 100%;
  margin: 70px 0px 0px;
}

@media (max-width: 960px) {
  body .style_main .style_news .container_news .newslist_sc .content_sc .action_sc {
    margin: 30px 0px 0px;
  }
}

body .style_main .style_news .container_news .newslist_sc .content_sc .action_sc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  text-decoration: none;
}

body .style_main .style_news .container_news .newslist_sc .content_sc .action_sc a img {
  margin: 0px 16px 0px 0px;
}

body .style_main .style_news .container_news .newslist_sc .content_sc .action_sc a span {
  font-size: 16px;
  font-family: "Segoe UI Mono", mono;
  letter-spacing: 0.01rem;
  line-height: 1;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 1536px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1680px) {
  .container {
    width: 1336px;
  }
}

@media (max-width: 1460px) {
  .container {
    width: 1136px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0px 30px;
  }
}
/*# sourceMappingURL=style.css.map */