$font-all: "Segoe UI",
"Segoe UI Web (West European)",
"Segoe UI",
-apple-system,
BlinkMacSystemFont,
Roboto,
"Helvetica Neue",
sans-serif;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 100%;
    display: block;
    overflow-x: hidden;

    .all {
        header {
            width: 100%;
            height: 48px;
            position: relative;
            background-color: transparent;

            .header_logo {
                width: 190px;
                height: 48px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @media (max-width: 1024px) {
                    width: 60px;
                }

                @media (max-width: 670px) {
                    width: 30px;
                }

                a {
                    background-image: url('/img/logo.png');
                    background-position: center;
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                    display: block;

                    &:hover {
                        background-image: url('/img/logo2.png')
                    }
                }
            }

            .header_title {
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                line-height: 49px;

                a {
                    text-decoration: none;
                    color: white;
                    font-family: $font-all;
                    font-size: 16px;
                    font-weight: 600;
                    transition: color 200ms linear 0ms;

                    &:hover {
                        color: rgb(0, 120, 212);
                    }
                }
            }

            .header_navigation {
                height: 48px;
                padding: 0px 120px 0px 420px;
                flex: 1 1 auto;

                @media (max-width: 1460px) {
                    padding: 0px 60px 0px 120px;
                }

                .links {
                    width: 100%;
                    display: flex;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;

                    li {
                        width: auto;
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        line-height: 49px;
                        font-weight: 600;
                        margin: 0px;
                        padding: 0px;

                        a {
                            text-decoration: none;
                            color: white;
                            font-family: $font-all;
                            -webkit-font-smoothing: antialiased;
                            font-size: 16px;
                            font-weight: 600;
                            transition: color 200ms linear 0ms;

                        }

                        .link1:hover {
                            color: rgb(37, 142, 222);
                        }

                        .link2:hover {
                            color: rgb(79, 229, 255);
                        }

                        .link3:hover {
                            color: rgb(207, 143, 255);
                        }

                        .link4:hover {
                            color: rgb(105, 229, 110);
                        }
                    }

                }

                @media (max-width: 767px) {
                    display: none;
                }

            }

        }

        .mobile_button {
            width: 48px;
            height: 48px;
            background-image: url('/img/menu.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 10px;
            display: none;
            cursor: pointer;

            @media (max-width: 767px) {
                display: block;
            }
        }

        .mobile_menu {
            position: fixed;
            top: 48px;
            left: 0px;
            height: calc(100vh - 48px);
            width: 100%;
            background-color: rgb(0, 0, 0);
            z-index: 10;
            transform: translateY(0px);
            transition: all 300ms ease 300ms;
            opacity: 0;
            pointer-events: none;


        }

        .active {
            opacity: 1;
            pointer-events: all;
        }

        .menu_links {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                width: 100%;
                font-size: 20px;
                opacity: 1;
                padding: 0px;
                margin: 0px;
                transition: all 300ms ease 0ms;

                a {
                    color: rgb(255, 255, 255);
                    position: relative;
                    display: block;
                    text-decoration: none;
                    padding: 25px 30px;
                    font-family: $font-all;
                }
            }

            .menu_link1:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(37, 142, 222);
            }

            .menu_link2:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(79, 229, 255);
            }

            .menu_link3:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(207, 143, 255);
            }

            .menu_link4:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(105, 229, 110);

            }
        }
    }

    .style_main {
        width: 100%;
        position: relative;

        .style_introduction {
            width: 100%;
            margin: 145px 0px 60px;

            .style_inner {

                .content_sc {
                    width: 410px;
                    flex: 0 0 auto;

                    @media (max-width: 1280px) {
                        width: 50%;
                    }

                    @media (max-width: 960px) {
                        width: 60%;
                    }

                    @media (max-width: 670px) {
                        width: 100%;
                    }

                    .title_sc {
                        width: 100%;

                        h2 {
                            font-size: 64px;
                            line-height: 80px;
                            color: rgb(79, 229, 255);
                            font-weight: 600;
                            margin: 0px 0px 0px -6px;
                            font-family: $font-all;


                            @media (max-width: 767px) {
                                font-size: 48px;
                                line-height: 60px;
                            }

                            @media (max-width: 670px) {
                                font-size: 48px;
                                line-height: 58px;
                            }

                        }
                    }

                    .description_sc {
                        width: 100%;
                        margin: 100px 0px 30px;

                        p {
                            width: 352px;
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 0px 0px 24px;
                            font-family: $font-all;

                        }
                    }

                }

                .media_sc {
                    text-align: center;
                    position: relative;
                    flex: 1 1 auto;

                    @media (max-width: 1280px) {
                        width: 50%;
                        padding: 0px 40px;
                    }

                    @media (max-width: 960px) {
                        width: 40%;
                        padding: 0px 0px 0px 30px;
                    }

                    @media (max-width: 670px) {
                        display: none;
                    }


                    .left-line {
                        position: absolute;
                        bottom: 155px;
                        left: 180px;
                        pointer-events: none;

                        @media (max-width: 1680px) {
                            bottom: 160px;
                            left: 30px;
                        }

                        @media (max-width: 1460px) {
                            bottom: 120px;
                            left: 30px;
                        }

                        @media (max-width: 1280px) {
                            display: none;
                        }
                    }

                    .mid-line {
                        @media (max-width: 1280px) {
                            max-width: 100%;
                        }
                    }

                    .right-line {
                        position: absolute;
                        top: -15px;
                        right: 180px;
                        pointer-events: none;

                        @media (max-width: 1680px) {
                            top: -40px;
                            right: 36px;
                        }

                        @media (max-width: 1460px) {
                            top: 15px;
                            right: 36px;
                        }

                        @media (max-width: 1280px) {
                            display: none;
                        }
                    }




                }
            }

        }

        .style_platforms {
            width: 100%;
            position: relative;

            &::before {
                content: "";
                width: 50vw;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
                background-color: rgb(34, 128, 200);
            }

            &::after {
                content: "";
                width: 50vw;
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 1;
                background-color: rgb(95, 207, 99);
            }

            .container_platform {
                display: flex;
                flex-wrap: wrap;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px;
                }

                .grid_sc {
                    width: 100%;
                    display: flex;
                    position: relative;

                    @media (max-width: 1024px) {
                        flex-wrap: wrap;
                    }

                    .platforms_sc {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;

                        @media (max-width: 1024px) {
                            width: 50%;
                            height: 320px;
                        }

                        @media (max-width: 767px) {
                            width: 100%;
                        }

                        @media (max-width: 500px) {
                            height: auto;
                        }

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;

                            .icon_sc {
                                height: 236px;
                                width: 100%;
                                text-align: left;
                                // flex: 1 1 auto;
                                padding: 26px;

                                @media (max-width: 1460px) {
                                    height: 156px;

                                }

                                @media (max-width: 1024px) {
                                    height: 186px;
                                    padding: 30px 30px 16px;
                                }

                                @media (max-width: 500px) {
                                    height: 116px;
                                }

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }

                            .content-sc {
                                height: 100px;
                                width: 100%;
                                flex: 0 0 auto;
                                padding: 0px 26px;

                                @media (max-width: 1460px) {
                                    height: 180px;
                                }

                                @media (max-width: 1024px) {
                                    height: auto;
                                    padding: 0px 30px;
                                }

                                h2 {
                                    color: rgb(0, 0, 0);
                                    font-size: 32px;
                                    letter-spacing: -0.03rem;
                                    line-height: 40px;
                                    font-weight: 600;
                                    margin: 0px 0px 26px;
                                    font-family: $font-all;


                                }

                                p {
                                    color: rgb(0, 0, 0);
                                    font-size: 16px;
                                    line-height: 20px;
                                    font-weight: 600;
                                    margin: 0px;
                                    font-family: $font-all;

                                }
                            }

                            .action_sc {
                                height: 48px;
                                width: 100%;
                                text-align: left;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                flex: 0 0 auto;
                                padding: 0px 26px 10px 0;

                                @media (max-width: 1280px) {
                                    padding: 0px 30px;
                                }

                                img {
                                    margin: 0px 16px 0px 0px;
                                }

                                span {
                                    font-size: 16px;
                                    font-family: "Segoe UI Mono", mono;
                                    letter-spacing: 0.01rem;
                                    color: rgb(0, 0, 0);

                                    @media (max-width: 1280px) {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .platform_Web {
                            background-color: rgb(37, 142, 222);

                            &:hover {
                                background-color: rgb(12, 117, 197);
                            }
                        }

                        .platform_Windows {
                            background-color: rgb(79, 229, 255);

                            &:hover {
                                background-color: rgb(54, 204, 230);
                            }
                        }

                        .platform_iOS {
                            background-color: rgb(207, 143, 255);

                            &:hover {
                                background-color: rgb(182, 118, 230);
                            }
                        }

                        .platform_Android {
                            background-color: rgb(105, 229, 110);

                            &:hover {
                                background-color: rgb(80, 204, 85);
                            }
                        }
                    }

                }
            }
        }

        .style_natural {
            width: 100%;
            min-height: 768px;
            background: url(https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg) 50% center / cover no-repeat fixed rgb(204, 204, 204);

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            @media (max-width: 670px) {
                min-height: 768px;
            }

            .container_natural {
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                @media (max-width: 400px) {
                    padding: 0px 30px 60px;
                }

                .title_natural {
                    width: 100%;
                    opacity: 1;
                    transform: translateY(0px);
                    // opacity: 0;
                    // transform: translateY(20px);
                    padding: 10px 20px 0px;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    h2 {
                        color: rgb(0, 0, 0);
                        font-size: 128px;
                        line-height: 150px;
                        font-weight: 600;
                        font-family: $font-all;
                        margin: 0;
                        padding: 0;

                        @media (max-width: 1460px) {
                            font-size: 96px;
                            line-height: 120px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0px;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }

                .content_natural {
                    width: 100%;
                    opacity: 1;
                    transform: translateY(0px);
                    // opacity: 0;
                    // transform: translateY(20px);
                    margin: 60px 0px 0px;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    .content_block {
                        width: 100%;
                        max-width: 384px;
                        padding: 0px 16px 0px 24px;

                        @media (max-width: 1280px) {
                            margin: 0px;
                            padding: 0px 5px;
                        }

                        @media (max-width: 1024px) {
                            padding: 0px 0px 0px 4px;
                        }

                        @media (max-width: 500px) {
                            padding: 0px 0px 0px 4px;
                        }

                        p {
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 0px;
                            font-family: $font-all;

                        }
                    }
                }
            }
        }

        .style_terraform_sphere {
            width: 100%;
            background-color: rgb(25, 25, 25);

            .container_terra {
                position: relative;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .rect_sc {
                    position: absolute;
                    top: -200px;
                    right: 130px;
                    pointer-events: none;
                    z-index: 4;
                    transform: translateY(20px);
                    // opacity: 0;
                    // transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
                    opacity: 1;
                    transform: translateY(0px);

                    @media (max-width: 1680px) {
                        right: 30px;
                    }

                    @media (max-width: 1460px) {
                        top: -200px;
                    }

                    @media (max-width: 767px) {
                        top: -300px;
                        right: 100px;
                    }

                    @media (max-width: 670px) {
                        display: none;
                    }
                }

                .line_sc {
                    position: absolute;
                    top: 570px;
                    left: 190px;
                    pointer-events: none;
                    // transform: translateY(400px);
                    transform: translateY(0px);
                    transition: transform 600ms linear 0ms;

                    @media (max-width: 670px) {
                        left: 90vw;
                    }
                }

                .sphere_sc {
                    width: 100%;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    // opacity: 0;
                    // transform: scale(0.8);
                    opacity: 1;
                    transform: scale(1);
                    padding: 100px 100px 50px;
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 6770px) {
                        padding: 60px 30px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        .style_terra_description {
            width: 100%;
            background-color: rgb(25, 25, 25);

            .container_description {
                position: relative;
                display: flex;
                -webkit-box-pack: end;
                justify-content: flex-end;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 30px;
                }

                @media (max-width: 670px) {
                    -webkit-box-pack: start;
                    justify-content: flex-start;
                }

                .content_sc_description {
                    width: 384px;
                    margin: 0px 0px 50px;
                    padding: 0px 16px;

                    @media (max-width: 960px) {
                        padding: 0px;
                    }

                    P {
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        margin: 0px;
                        font-family: $font-all;

                    }
                }
            }
        }

        .style_intuitive {
            width: 100%;
            position: relative;
            background-color: rgb(25, 25, 25);

            .title_intuitive {
                position: absolute;
                bottom: 80px;
                left: 0px;
                width: 100%;
                z-index: 4;

                @media (max-width: 1024px) {
                    bottom: 60px;
                }

                .container_intuitive {
                    width: 1536px;
                    margin: 0px auto;

                    @media (max-width: 1680px) {
                        width: 1336px;
                    }

                    @media (max-width: 1460px) {
                        width: 1136px;
                    }

                    @media (max-width: 1280px) {
                        width: 960px;
                    }

                    @media (max-width: 1024px) {
                        width: 100%;
                        padding: 30px;
                    }

                    h2 {
                        color: rgb(25, 25, 25);
                        font-size: 128px;
                        line-height: 144px;
                        font-weight: 600;
                        margin: 0px 0px 0px 26px;
                        font-family: $font-all;

                        @media (max-width: 1680px) {
                            font-size: 96px;
                            line-height: 128px;
                        }

                        @media (max-width: 1280px) {
                            font-size: 96px;
                            line-height: 104px;
                            margin: 0px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }
            }

            div {
                .media_sc_intuitive {
                    width: 100%;
                    // transform: translateY(200px) scale(1.2);
                    // opacity: 0;
                    opacity: 0.987936;
                    transform: translate3d(0px, 1.20643px, 0px) scale(1.00241, 1.00241);
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    object-fit: contain;
                    overflow: hidden;
                }
            }
        }

        .style_cloud {
            position: relative;
            top: 0px;
            z-index: 2;
            width: 100%;
            min-height: 948px;
            background: url(https://www.microsoft.com/design/fluent/assets/images/clouds.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);

            .container_cloud {
                position: relative;
                display: flex;
                height: 100%;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .planes {
                    position: absolute;
                    top: -240px;
                    right: -260px;
                    width: 768px;

                    @media (max-width: 1460px) {
                        display: none;
                    }

                    div .solid_plane {
                        position: absolute;
                        top: -120px;
                        left: 2px;
                        z-index: 2;
                        opacity: 1;
                        // transform: translateY(122px);
                        transform: translate3d(0px, -26.9379px, 0px);

                    }

                    .outline_plane {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 1;
                    }
                }

                div .De_header {
                    position: absolute;
                    top: -100px;
                    left: 0px;
                    font-size: 395px;
                    line-height: 1;
                    color: rgb(0, 0, 0);
                    font-weight: 600;
                    font-family: $font-all;

                    @media (max-width: 1680px) {
                        font-size: 295px;
                        top: -40px;
                    }

                    @media (max-width: 1460px) {
                        top: -20px;
                        left: 0px;
                    }

                    @media (max-width: 1280px) {
                        font-size: 228px;
                        top: 40px;
                        left: 14px;
                    }

                    @media (max-width: 670px) {
                        font-size: 168px;

                    }

                    @media (max-width: 500px) {
                        font-size: 128px;
                    }

                    @media (max-width: 400px) {
                        font-size: 96px;
                    }
                }

                div .sign_header {
                    position: absolute;
                    top: 140px;
                    right: -30px;
                    font-size: 395px;
                    line-height: 1;
                    color: rgb(0, 0, 0);
                    font-weight: 600;
                    font-family: $font-all;

                    @media (max-width: 1680px) {
                        font-size: 295px;
                        top: 120px;
                        right: -30px;
                    }

                    @media (max-width: 1460px) {
                        top: 180px;
                    }

                    @media (max-width: 1280px) {
                        font-size: 228px;
                        top: 220px;
                        right: 10px;
                    }

                    @media (max-width: 670px) {
                        font-size: 168px;

                    }

                    @media (max-width: 500px) {
                        font-size: 128px;
                    }

                    @media (max-width: 400px) {
                        font-size: 96px;
                        top: 160px;
                    }
                }

                .line_cloud {
                    position: absolute;
                    top: 550px;
                    left: 370px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(20px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 550px;
                        left: 370px;
                    }

                    @media (max-width: 1280px) {
                        display: none;
                    }
                }
            }
        }

        .style_engaging {
            width: 100%;
            background-color: rgb(204, 204, 204);
            min-height: 820px;
            position: relative;

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 670px) {
                min-height: 468px;
            }

            .container_engaging {
                width: 1536px;
                position: relative;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 30px;
                }

                @media (max-width: 960px) {
                    width: 100%;
                    padding: 0px 30px 40px;
                }

                .title_engaging {
                    width: 100%;
                    padding: 140px 40px 0px 8px;

                    @media (max-width: 1460px) {
                        padding: 60px 40px 0px 8px;
                    }

                    @media (max-width: 1280px) {
                        padding: 29px 0px 0px;
                    }

                    h2 {
                        color: rgb(0, 0, 0);
                        font-size: 128px;
                        line-height: 150px;
                        font-weight: 600;
                        font-family: $font-all;

                        @media (max-width: 1280px) {
                            font-size: 96px;
                            line-height: 104px;
                        }

                        @media (max-width: 1024px) {
                            font-size: 86px;
                            line-height: 90px;
                            margin: 0px;
                        }

                        @media (max-width: 670px) {
                            font-size: 64px;
                            line-height: 70px;
                        }

                        @media (max-width: 500px) {
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                }

                .content_engaging {
                    width: 100%;
                    margin: 60px 0px 0px;

                    @media (max-width: 670px) {
                        margin: 40px 0px 0px;
                    }

                    .content_engaging_block {
                        width: 100%;
                        max-width: 384px;
                        padding: 0px 16px;

                        @media (max-width: 1024px) {
                            padding: 0px 0px 0px 4px;
                        }

                        P {
                            color: rgb(0, 0, 0);
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            margin: 0px;
                            font-family: $font-all;
                        }
                    }
                }
            }

            .media_sc_engaging {
                position: absolute;
                top: 200px;
                right: 0px;

                @media (max-width: 1024px) {
                    right: -20vw;
                }

                @media (max-width: 670px) {
                    display: none;
                }

                img {
                    max-width: 1000px;

                    @media (max-width: 1940px) {
                        max-width: 900px;
                    }

                    @media (max-width: 1680px) {
                        max-width: 50vw;
                    }

                    @media (max-width: 1024px) {
                        max-width: 70vw;
                    }

                    @media (max-width: 767px) {
                        max-width: 60vw;
                    }
                }
            }
        }

        .style_space {
            width: 100%;
            min-height: 768px;
            background: url(https://www.microsoft.com/design/fluent/assets/images/space.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);

            @media (max-width: 1280px) {
                min-height: 668px;
            }

            @media (max-width: 960px) {
                background-attachment: scroll;
            }

            @media (max-width: 500px) {
                min-height: 568px;
            }

            .container_space {
                position: relative;
                z-index: 2;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                    padding: 0px 30px;
                }

                .fluent_sc {
                    position: absolute;
                    top: -95px;
                    left: 340px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(60px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: -75px;
                        left: 50%;
                        margin: 0px 0px 0px -215px;
                    }

                    @media (max-width: 500px) {
                        width: 100%;
                        max-width: 50%;
                        left: 30%;
                        margin: 0px;
                    }
                }

                .line_sc {
                    position: absolute;
                    top: 185px;
                    left: 165px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(20px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 40vh;
                        left: 65px;
                    }

                    @media (max-width: 500px) {
                        display: none;
                    }
                }

                .white_rect_sc {
                    position: absolute;
                    top: -125px;
                    left: 620px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(100px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 80px;
                        left: auto;
                        right: 60px;
                    }

                    @media (max-width: 500px) {
                        display: none;
                    }
                }

                .white_plane_sc {
                    position: absolute;
                    top: 530px;
                    right: 85px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(40px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 500px) {
                        display: none;
                    }
                }

                .liala_rect_sc {
                    position: absolute;
                    top: 370px;
                    right: 220px;
                    pointer-events: none;
                    // opacity: 0;
                    // transform: translateY(100px);
                    opacity: 1;
                    transform: translateY(0px);
                    transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;

                    @media (max-width: 1460px) {
                        top: 470px;
                        right: 220px;
                    }

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }

        .style_media_sc {
            position: relative;
            width: 100%;
            z-index: 1;
            margin: 0px 0px 160px;

            .container_media {
                position: relative;
                z-index: 2;
                width: 1536px;
                margin: 0px auto;

                @media (max-width: 1680px) {
                    width: 1336px;
                }

                @media (max-width: 1460px) {
                    width: 1136px;
                }

                @media (max-width: 1280px) {
                    width: 960px;
                }

                @media (max-width: 1024px) {
                    width: 100%;
                }

                .grid_sc {
                    width: 100%;
                    display: flex;
                    position: relative;

                    .sc1_how {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;
                        background-color: rgb(0, 0, 0);

                        a {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            transition: background-color 200ms linear 0ms;

                            &:hover {
                                background-color: rgb(255, 255, 255);
                            }

                            .content_sc {
                                width: 100%;
                                padding: 16px;
                                flex: 1 1 auto;
                                margin: 2px 0px 0px;
                                p {
                                    color: rgb(255, 255, 255);
                                    transition: color 200ms linear 0ms;
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-family: $font-all;

                                }
                            }
                        }
                    }

                    .sc2_evolving {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;
                        background-color: rgb(57, 57, 57);

                        a {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            transition: background-color 200ms linear 0ms;

                            &:hover {
                                background-color: rgb(255, 255, 255);
                            }

                            .content_sc {
                                width: 100%;
                                padding: 16px;
                                flex: 1 1 auto;
                                margin: 2px 0px 0px;
                                p {
                                    color: rgb(255, 255, 255);
                                    transition: color 200ms linear 0ms;
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-family: $font-all;

                                }
                            }
                        }
                    }

                    .sc3_designing {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;
                        background-color: rgb(118, 118, 118);

                        a {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            transition: background-color 200ms linear 0ms;

                            &:hover {
                                background-color: rgb(255, 255, 255);
                            }

                            .content_sc {
                                width: 100%;
                                padding: 16px;
                                flex: 1 1 auto;
                                margin: 2px 0px 0px;

                                p {
                                    color: rgb(255, 255, 255);
                                    transition: color 200ms linear 0ms;
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-family: $font-all;

                                }
                            }
                        }
                    }

                    .sc4_designing {
                        width: 25%;
                        height: 384px;
                        position: relative;
                        z-index: 2;
                        background-color: rgb(204, 204, 204);

                        a {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            transition: background-color 200ms linear 0ms;

                            &:hover {
                                background-color: rgb(255, 255, 255);
                            }

                            .content_sc {
                                width: 100%;
                                padding: 16px;
                                flex: 1 1 auto;
                                margin: 2px 0px 0px;
                                p {
                                    color: rgb(255, 255, 255);
                                    transition: color 200ms linear 0ms;
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-weight: 600;
                                    font-family: $font-all;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




.container {
    width: 1536px;
    margin: 0 auto;
    display: flex;

    @media (max-width: 1680px) {
        width: 1336px;
    }

    @media (max-width: 1460px) {
        width: 1136px;
    }

    @media (max-width: 1280px) {
        width: 960px;
    }

    @media (max-width: 1024px) {
        width: 100%;
        padding: 30px;
    }

    @media (max-width: 960px) {
        width: 100%;
        padding: 0px 30px;
    }
}